<script src="{{ .Site.BaseUrl }}/js/jquery.1.9.1.min.js"></script>
<script src="{{ .Site.BaseUrl }}/js/bootstrap.min.js"></script>
<script src="{{ .Site.BaseUrl }}/js/mediaelement-and-player.min.js"></script>
<script src="{{ .Site.BaseUrl }}/js/jquery.fitvids.js"></script> 
<script src="{{ .Site.BaseUrl }}/js/custom.js"></script>
<script src="{{ .Site.BaseUrl }}/js/prism.js"></script>
<script src="{{ .Site.BaseUrl }}/js/share.min.js"></script>
<script type="text/javascript">
	var share = new Share(".share-button");
</script>
</body>
</html>