<script src="{{ .Site.BaseUrl }}/js/jquery.1.9.1.min.js"></script>
<script src="{{ .Site.BaseUrl }}/js/bootstrap.min.js"></script>
<script src="{{ .Site.BaseUrl }}/js/mediaelement-and-player.min.js"></script>
<script src="{{ .Site.BaseUrl }}/js/jquery.fitvids.js"></script> 
<script src="{{ .Site.BaseUrl }}/js/custom.js"></script>
<script src="{{ .Site.BaseUrl }}/js/prism.js"></script>
<script src="{{ .Site.BaseUrl }}/js/share.min.js"></script>
<script type="text/javascript">
	var share = new Share(".share-button");
</script>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setCookieDomain", "*.gamecoders.io"]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//statistics.veganoidi.it/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 2]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//statistics.veganoidi.it/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->


</body>
</html>