        <!-- =========================
             RIGHT SIDEBAR 
        ============================== -->
        <div class="col-md-6 hidden-sm hidden-xs">
            <aside class="right-sidebar">
                <!-- Widget Start -->
                {{ range $key, $taxonomy := .Site.Taxonomies.featured }}
                <div class="widget-popular-article">
                    <h5>{{$key}}</h5>
                    {{ range $taxonomy.Pages }}
                    <div class="popular-article clearfix">
                        <div class="thumb">
                            <img src="{{.Params.image}}" alt="">
                        </div>
                        <div class="article-link">
                            <a href="{{.Permalink}}">{{.Title}}</a>
                        </div>

                    </div>

                    {{ end }}
              
                </div>
                {{ end }}
                <!-- Widget End -->

                <hr class="small">

 
                <iframe src="http://rcm-eu.amazon-adsystem.com/e/cm?lt1=_blank&bc1=F4F4F4&IS2=1&bg1=F4F4F4&fc1=000000&lc1=0000FF&t=gamec02-21&o=29&p=8&l=as1&m=amazon&f=ifr&ref=tf_til&asins=1783554770" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

                <iframe src="http://rcm-eu.amazon-adsystem.com/e/cm?t=gamec02-21&o=29&p=8&l=as1&asins=B007WTFWJ6&ref=tf_til&fc1=000000&IS2=1&lt1=_blank&m=amazon&lc1=0000FF&bc1=F4F4F4&bg1=F4F4F4&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>


                <iframe src="http://rcm-eu.amazon-adsystem.com/e/cm?t=gamec02-21&o=29&p=8&l=as1&asins=0321146530&ref=tf_til&fc1=000000&IS2=1&lt1=_blank&m=amazon&lc1=0000FF&bc1=F4F4F4&bg1=F4F4F4&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

                <iframe src="http://rcm-eu.amazon-adsystem.com/e/cm?t=gamec02-21&o=29&p=8&l=as1&asins=B005OYHF0A&ref=tf_til&fc1=000000&IS2=1&lt1=_blank&m=amazon&lc1=0000FF&bc1=F4F4F4&bg1=F4F4F4&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>


                <!-- Widget Start -->
               <!--  <div class="widget-subscribe">
                    <h5>Subscribe to us</h5>
                    <p>Subscribe to our email newsletter for useful tips and resources.</p>
                  
                    <form class="subscriber-box navbar-form navbar-left" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="you@domain.com">
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-prime" type="button">Go</button>
                            </span>
                        </div> 
                    </form>
                    <!--
                    <div class="social-icons clearfix">
                        <p>Social: </p>
                        <ul>
                            <li><a href=""><i class="fa flaticon-circle6"></i></a></li>
                            <li><a href=""><i class="fa flaticon-twitter4"></i></a></li>
                            <li><a href=""><i class="fa flaticon-google7"></i></a></li>
                            <li><a href=""><i class="fa flaticon-pinterest1"></i></a></li>
                        </ul>
                    </div>
                </div> --><!-- end of .widget-subscribe -->
                <!-- Widget End -->

                <hr class="small">

                

            </aside>
        </div>
        <!-- /END RIGHT SIDEBAR -->