        <!-- =========================
             RIGHT SIDEBAR 
        ============================== -->
        <div class="col-md-6 hidden-sm hidden-xs">
            <aside class="right-sidebar">
                <!-- Widget Start -->
                {{ range $key, $taxonomy := .Site.Taxonomies.featured }}
                <div class="widget-popular-article">
                    <h5>{{$key}}</h5>
                    {{ range $taxonomy.Pages }}
                    <div class="popular-article clearfix">
                        <div class="thumb">
                            <img src="{{.Params.image}}" alt="">
                        </div>
                        <div class="article-link">
                            <a href="{{.Permalink}}">{{.Title}}</a>
                        </div>
                    </div>
                    {{ end }}
              
                </div>
                {{ end }}
                <!-- Widget End -->

                <hr class="small">

 

  

                <!-- Widget Start -->
               <!--  <div class="widget-subscribe">
                    <h5>Subscribe to us</h5>
                    <p>Subscribe to our email newsletter for useful tips and resources.</p>
                  
                    <form class="subscriber-box navbar-form navbar-left" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="you@domain.com">
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-prime" type="button">Go</button>
                            </span>
                        </div> 
                    </form>
                    <!--
                    <div class="social-icons clearfix">
                        <p>Social: </p>
                        <ul>
                            <li><a href=""><i class="fa flaticon-circle6"></i></a></li>
                            <li><a href=""><i class="fa flaticon-twitter4"></i></a></li>
                            <li><a href=""><i class="fa flaticon-google7"></i></a></li>
                            <li><a href=""><i class="fa flaticon-pinterest1"></i></a></li>
                        </ul>
                    </div>
                </div> --><!-- end of .widget-subscribe -->
                <!-- Widget End -->

                <hr class="small">

                

            </aside>
        </div>
        <!-- /END RIGHT SIDEBAR -->